@import './../../../variables';

$tooltip-width: 150;

.item-select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    border-radius: $app-border-radius;
    box-shadow: $app-shadow;
    background-color: $light-gray-color;
    color: $app-text-color;
    width: 200px;
    padding: $app-padding-large;
    margin: $app-margin-large;
    text-align: center;
    position: relative;
    cursor: pointer;

    .description-icon-container {
      position: absolute;
      right: 3px;
      bottom: 3px;

      img.description-icon {
        position: relative; // important for tooltip
        filter: invert(1); // initial color of svg fill is white - so we need to invert it
      }

      &:hover {
        .tooltip {
          visibility: visible;
        }
      }

      .tooltip {
        visibility: hidden;
        width: $tooltip-width + px;
        background-color: $tooltip-bg-color;
        color: $tooltip-text-color;
        text-align: center;
        border-radius: $app-border-radius;
        padding: $app-padding-small;
        position: absolute;
        z-index: 1;
        font-size: $font-size-small;
        bottom: 150%;
        left: 50%;
        margin-left: (-1 * $tooltip-width / 2) + px;

        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -7px;
          border-width: 7px;
          border-style: solid;
          border-color: $tooltip-bg-color transparent transparent transparent;
        }
      }
    }

    &.selected {
      background-color: $selected-bg-color;
      color: $selected-text-color;

      .description-icon-container {
        img.description-icon {
          filter: invert(0);
        }
      }
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
