<div class="item-select">
  <div class="item" *ngFor="let item of items" (click)="itemClick(item)" [ngClass]="{ selected: item === selectedItem, disabled: disabled }">
    {{ item.name }}
    <div class="description-icon-container">
      <img class="description-icon" src="../../../assets/icons/description.svg" alt="expand" />
      <span class="tooltip">{{ item.description }}</span>
    </div>
  </div>
</div>
