<div class="main-container" role="main">
  <div class="card">
    <div class="header">
      <span class="title">Wybór Produktów</span>
      <img class="expand-icon" [ngClass]="{ rotated: expanded }" src="../assets/icons/expand.svg" (click)="expand()" alt="expand" />
    </div>
    <div class="content" [ngClass]="{ expanded: expanded }" [@animationExpand]="expanded">
      <form>
        <item-select [items]="products" [formControl]="productsFormControl"></item-select>
      </form>
    </div>
  </div>
</div>
