@import '../variables';

.main-container {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: $app-border-radius;
  background-color: $app-bg-color;
  box-shadow: $app-shadow;
  margin: $app-margin-large auto;
  max-width: 80vw;

  .header {
    background-color: $light-gray-color;
    padding: $app-padding-small $app-padding-large;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: $font-size-large;
    }

    .expand-icon {
      cursor: pointer;
      transition: transform linear 0.2s;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  .content {
    &.expanded {
      // show border-top only when content is expanded
      border-top: $app-border;
    }
  }
}
