// app colors
$app-text-color: #333;
$app-bg-color: #ffffff;

$dark-gray-color: #d3d3d3;
$light-gray-color: #f1f1f1;

$selected-bg-color: #00386a;
$selected-text-color: #ffffff;

$tooltip-bg-color: #37f1f1;
$tooltip-text-color: #085050;

// font size
$font-size-large: 18px; // headers
$font-size-medium: 14px; // content
$font-size-small: 12px; // tooltips etc

// font weight
$font-weight-tiny: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

// borders & shadows
$app-shadow: 0px 2px 2px 0px $dark-gray-color;
$app-border: 1px solid $dark-gray-color;
$app-border-radius: 4px;

// margins & paddings
$app-margin-large: 20px;
$app-margin-small: 10px;
$app-padding-large: 20px;
$app-padding-small: 10px;
